{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
  <article class="content">
    {{ .Content }}
    <section class="chapters">
      <h2>Chapters</h2>
      <ul>
        {{ range sort (where .Site.Pages "Section" "in" (slice "c1" "c2" "c3" "c4" "c5" "c6" "c7" "c8" "c9" "c10" "c11" "c12" "c13" "c14" "c15" "c16" "c17" "c18" "c19" "c20")) "Title" }}
          {{ if .IsPage }}
            <li><a href="{{ .RelPermalink }}">{{ with .Title }}{{ . }}{{ else }}{{ .File.Dir }}{{ end }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </section>
  </article>
{{ end }}
